version: 2.1 # use CircleCI 2.1

default-test: &default-test
  working_directory: ~/repo
  steps:
    - checkout
    - run: npm install
    - run: npm run compile
    - run: npm test

defaults: &defaults
  docker:
    - image: circleci/node:14
  working_directory: ~/repo

jobs: # a collection of steps
  test-node10:
    docker:
      - image: circleci/node:10.23 # Current BAS node version
    <<: *default-test

  test-node12:
    docker:
      - image: circleci/node:12 # Future BAS node version
    <<: *default-test

  compliance:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/workdir
    steps:
      - checkout
      - run:
          name: compliance check
          command: |
            pip3 install --user reuse
            ~/.local/bin/reuse lint

  test:
    <<: *defaults  
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run: npm install
      - run: # run compile
          name: compile
          command: npm run compile
      - run:
          name: Run tests
          command: npm test
      - run:
          name: coverall
          command: cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
          environment:
            COVERALLS_SERVICE_NAME: circle-ci
            COVERALLS_GIT_BRANCH: ${CIRCLE_BRANCH}
      - run:
          name: Define environment variable with lastest commit's message
          command: |
            echo 'export COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Lint commit message
          command: echo "$COMMIT_MESSAGE" | npx commitlint
      - save_cache:
          paths:
            - node_modules
          key: dependency-cache-{{ checksum "package-lock.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths: .
      - store_artifacts: # special step to save test results as as artifact
          # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/ 
          path: test-results.xml
          prefix: tests
      - store_test_results: # for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: test-results.xml

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - store_artifacts:
          path: ~/.npmrc
          destination: npmrc-file
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - test-node10
      - test-node12
      - compliance
      - test:
          filters:
            tags:
              only: /^v.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
